.container {
    margin: 1em 1em 1em 1em;
    background-color: #FDFDFD;
    padding: 1em 3em 1em 3em;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

[class*='col-'] {
    float: left;
    width: 100%;
    margin-bottom:0.5em;
}


@media screen and (min-width: 640px) {
    .container {
        margin: 0em 4em 0 4em;
    }

}

@media screen and (min-width: 1020px) {

    .container {
        margin: 0em 5em 1em 5em;
    }

    .row+.row {
        margin-top: 0.5em;
    }
    .col-1-12 {
        width: 6.5%;
        margin-right:2%;
    }
    .col-2-12 {
        width: 15%;
        margin-right:2%;
    }
    .col-3-12 {
        width: 23.5%;
        margin-right:2%;
    }
    .col-4-12 {
        width: 31.5%;
        margin-right:2%;
    }
    .col-5-12 {
        width: 40.5%;
        margin-right:2%;
    }
    .col-6-12 {
        width: 48.5%;
        margin-right:2%;
    }
    .col-7-12 {
        width: 57.5%;
        margin-right:2%;
    }
    .col-8-12 {
        width: 66%;
        margin-right:2%;
    }
    .col-9-12 {
        width: 74.5%;
        margin-right:2%;
    }
    .col-10-12 {
        width: 83%;
        margin-right:2%;
    }
    .col-11-12 {
        width: 91.5%;
        margin-right:2%;
    }
    .col-12-12 {
        width: 100%;
    }
    [class*='col-']:last-of-type {
        margin-right:0;
    }
}